<% if current_user %>
  <ul class="thumbnails">
    <li class="span4">
      <a href="/invities" class="thumbnail">
        <h1 class="text-center" style="font-size:85px;padding-top:10px;"><%= current_user.invities.count %></h1>
        <h1 class="text-center" style="font-size:18px">REFERRALS</h1>
      </a>
    </li>
    <li class="span4">
      <a href="#" class="thumbnail">
        <h1 class="text-center" style="font-size:85px;padding-top:10px;"><%= current_user.points.to_i %></h1>
        <h1 class="text-center" style="font-size:18px">POINTS</h1>
      </a>
    </li>
    <li class="span4">
      <a id="app_request" href="/invite_friends" class="thumbnail" >
        <h1 class="text-center" style="padding-top:10px;"><i class = "icon-group icon-large" style = "color:#FA6600; "></i></h1>
         <h1 class="text-center" style="font-size:18px">INVITE FRIENDS</h1>
      </a>
    </li>
  </ul>
<% end %>