<% if params[:code] %>
<div class="page-header">
  <h1>INVITIES <small>Invite Freinds and earn Points</small></h1>
</div>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="#">INVITIES</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">My Invities</a></li>
        <li><a href="#">My Points</a></li>
      </ul>
      <div class="pull-right">
        <p class="navbar-text" href="#">Welcome <%= @user.name %></p>
      </div>
    </div>
  </div>
<ul class="thumbnails">
  <li class="span4">
    <a href="#" class="thumbnail">
      <h1 class="text-center"><%= @user.invities.count %></h1>
      <h1 class="text-center">INVITIES</h1>
    </a>
  </li>
  <li class="span4">
    <a href="#" class="thumbnail">
      <h1 class="text-center"><%= @user.points.to_i %></h1>
      <h1 class="text-center">POINTS</h1>
    </a>
  </li>
  <li class="span4">
    <a id="app_request" href="#" class="thumbnail">
      <h1 class="text-center">INVITE</h1>
      <h1 class="text-center">MORE FRIENDS</h1>
    </a>
  </li>
</ul>
<div class="row-fluid">
  <div class="span12 well well-large text-center">
    <h3>Invite Freinds and earn Points</h3>
  </div>
</div>
  <script language="javascript" type="text/javascript">
    FB.init({
      appId: <%= FACEBOOK_APP_KEY %>,
      xfbml: true,
      ookie: true,
      oauth: true
    });
    $('#app_request').click(function () {
      FB.ui({
        method: 'apprequests',
        message: 'Hi This is my test app developed in RoR and integrated in FB',
        data: 'Stores important links of user'
      },requestCallback);
      return false;
    });
    function requestCallback(response)
    {
      alert(response.to)
    }
</script>
<% end %>